<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <title>Title</title>
  </head>
  <body>
    <div class="khaBanhBox">
      <div class="videoContainer">
        <video autoplay muted loop id="myVideo">
          <source src="../static/assets/bgVideo.mp4" type="video/mp4" />
          Your browser does not support HTML5 video.
        </video>
      </div>

      <div class="khaBanhBox__content">
        <h1>bạN MUốN TyPe Giống KhÁ BảNh ?</h1>
        <form method="post">
          <label for="text">Điền vào đây </label>
          <input name="text" />
          <input id="sendText" type="submit" value="Lên" />
        </form>

        <div class="console">
          <h2>Result:</h2>
          <div class="container">{{ msg }}</div>
          <button id="copyWord">Copy</button>
        </div>
      </div>
    </div>
  </body>

  <script>
    const btnCopy = document.querySelector("#copyWord");

    btnCopy.addEventListener("click", async () => {
      const text = document.querySelector(".container");

      await navigator.clipboard.writeText(text.textContent);

      alert("Copied the text: " + text.textContent);
    });
  </script>
</html>
