<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <h1>bạN MUốN TyPe Giống KhÁ BảNh ?</h1>
    <form method="post">
        <label for="text">Điền vào đây </label>
        <input name="text">
        <input type="submit" value="Lên">
    </form>

    <div class="console">
        <h2>Result: </h2>
        <div class="container">
            {{ msg }}
        </div>
    </div>

</body>
</html>